nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-left .menu {
  width: 20px;
  height: 40px;
  margin-right: 10px;
}

.nav-left .logo {
  width: 40px;
  height: 40px;
  color: red;
}
.nav-middle .search-box {
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 25px;
}

.nav-middle .search-box input {
  border: none;
  width: 400px;
  outline: none;
  background: transparent;
  margin-left: 15px;
}

.notification,
.user {
  width: 20px;
  height: 30px;
  margin-left: 30px;
}
