.sidebar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
  margin-top: 20px;
}

.sidebar .sidebar-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
}
